```{=html}

<table>
  <thead>
 <tr>
  <th width="300px">Producto</th>
  <th width="500px">Origen</th> <th width="100px">Preu</th>
  <th width="100px">Capacitat</th> <th width="300px">web</th>
</tr> 
  </thead>
<tbody class="list">
<% for (const item of items) { %>
  <tr <%= metadataAttrs(item) %>>
    <td class="listing-title">
       <%= item.title %> </td>
  <td class="listing-author">    
      <%= item.author %>
   </td> 
  <td class="listing-price">
     <%= item.price %> </td> 
  <td class="listing-subtitle">
     <%= item.subtitle %> </td>
  <td class="listing-web">
    <a href="<%- item.web %>"> <%= item.title %></a></td>
  </tr> 
<% } %>
</tbody>
<table>
```